//colors
$mainBackgroundColor: #fafff9;
$mainAccentColor: #ffd65c;
$mainFontColor: #393e41;

//fonts
@import url('https://fonts.googleapis.com/css?family=Rozha+One');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

//mixins

@import 'Header';
@import 'Nav';
